{% extends "admin_base.html" %}

{% block title %}Stock Management{% endblock %}

{% block content %}

<div class="row">

    <div class="col-md-12">

        <h1 class="display-4">Add and Remove Stocks</h1>

        <p class="lead">Modify the stocks.</p>

    </div>

</div>

<!-- Example Bootstrap Components -->

<div class="row mt-4">

    <!-- Card Example -->

    <div class="col-md-4">

        <div class="card">

            <div class="card-body">

                <h5 class="card-title">Feature Four</h5>

                <p class="card-text">We can also modify the stocks if needed.</p>

                <a href="#" class="btn btn-primary">Learn More</a>

            </div>

        </div>

    </div>


</div>

{% endblock %}