{% extends "user_base.html" %}

{% block title %}Buying and Selling Stocks{% endblock %}

{% block content %}

<div class="row">

    <div class="col-md-12">

        <h1 class="display-4">Buying/Selling Stocks</h1>

        <p class="lead">Buying or Selling?.</p>

    </div>

</div>

<!-- Example Bootstrap Components -->

<div class="row mt-4">

    <!-- Card Example -->

    <div class="col-md-4">

        <div class="card">

            <div class="card-body">

                <h5 class="card-title">Feature Five</h5>

                <p class="card-text">Checkout process.</p>

                <a href="#" class="btn btn-primary">Learn More</a>

            </div>

        </div>

    </div>


</div>

{% endblock %}