{% extends "user_base.html" %}

{% block title %}How to Page{% endblock %}

{% block content %}

<div class="row">

    <div class="col-md-12">

        <h1 class="display-4">How to work stocks</h1>

        <p class="lead">Let us teach you about stocks.</p>

    </div>

</div>

<!-- Example Bootstrap Components -->

<div class="row mt-4">

    <!-- Card Example -->

    <div class="col-md-4">

        <div class="card">

            <div class="card-body">

                <h5 class="card-title">Feature Three</h5>

                <p class="card-text">More Learning.</p>

                <a href="#" class="btn btn-primary">Learn More</a>

            </div>

        </div>

    </div>


</div>

{% endblock %}